*, *::before, *::after {
  box-sizing: border-box;
}
.location:hover {background-color: #666666;
  cursor: pointer;
}
body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 50%;
  background-color: #000000;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: 5px;
  width: 420px;
}
.content{
  box-sizing: border-box;
  padding-top: 2%;
  float: left;
  padding: 3%;
}
.arrow {
  box-sizing: border-box;
  float: right;
  margin: 2%;
  position: relative;
  bottom: 55px;
}
  h1 {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    padding-top: 5px;
  }
  h3 {
    font-size: 14px;
    text-align: left;
    font-weight: lighter;
    padding-top: 5px;
    }
    .restaurant-list
    {
      box-sizing: border-box;
      padding-top: .02%;
    }
.location {
  background-color: #d3d3d3;
  height: 80px;
  border-bottom: 1px solid #000000;
}
